<ion-app>
  
</ion-app>

<ion-app>
  

  <!-- slider -->
  <div>
    <ion-slides [options]="option" class="ion-margin-top">

      <ion-slide>
        <ion-button color="new" [routerLink]="['../tab1']"> <!-- iconos -- new -->
          Todo
        </ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button color="new" [routerLink]="['../jojo']">
          Jojo's
        </ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button color="new" [routerLink]="['../horizon']">
          Horizont
        </ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button color="new" [routerLink]="['../fortnite']"> <!-- esta es la paginacion <3 -->
          Fortnite
        </ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button color="new" [routerLink]="['../lol']">
          LoL
        </ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button color="new" [routerLink]="['../genshin']">
          Genshin Impact
        </ion-button>
      </ion-slide>

      <!-- <ion-slide>
        <ion-button color="new" class="b" ><ion-icon class="cambia" name="sunny-sharp"></ion-icon></ion-button>
      </ion-slide> -->

     <!--  <ion-buttons>
        <ion-button color="iconos" [routerLink]="['../tab1']">Todo</ion-button>
      </ion-buttons> -->

    </ion-slides>
  </div>
<!-- fin del slider -->




<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <img  (click)="presentAlert()" src="assets/images/f1.jpg" alt="">
    </ion-col>
    <ion-col size="6">
      <img (click)="presentAlert()" src="assets/images/f2.jpg" alt="">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <img (click)="presentAlert()" src="assets/images/f3.jpg" alt="">
    </ion-col>
    <ion-col size="6">
      <img (click)="presentAlert()" src="assets/images/f4.jpg" alt="">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <img (click)="presentAlert()" src="assets/images/f5.jpg" alt="">
    </ion-col>
    <ion-col size="6">
      <img (click)="presentAlert()" src="assets/images/f6.jpg" alt="">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <img (click)="presentAlert()" src="assets/images/f7.jpg" alt="">
    </ion-col>
    <ion-col size="6">
      <img (click)="presentAlert()" src="assets/images/f8.jpg" alt="">
    </ion-col>
  </ion-row>
  
</ion-grid>
</ion-content>
      
    

<!-- <img src="assets/images/5cc0fb3dba50b36f1fa404aea8d840a1.jpg" alt=""> -->





<!-- inicio del footer -->
  <!-- <ion-footer>
    <ion-content>
      <ion-grid>
        <ion-row>

          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon class="custom-icon" name="home-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>

          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon class="custom-icon" name="search-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>

          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon class="custom-icon" name="chatbubble-ellipses-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>

          <ion-col size="3" size-sm>
            <ion-buttons>
              <ion-button>
                <ion-icon class="custom-icon" name="person-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-content>

    
    
    <ion-toolbar>
      <ion-icon class="custom-icon" name="search-outline"></ion-icon>
      <ion-icon class="custom-icon" name="chatbubble-ellipses-outline"></ion-icon>
      <ion-icon class="custom-icon" name="person-outline"></ion-icon>
    </ion-toolbar>
    
  </ion-footer> -->

  
  
</ion-app>