ion-searchbar {
    position: relative;
    margin-top: 22px;
}

ion-icon {
    margin-top: 20px;
    margin-right: 20px;
}

img {
    width: 250px; 
    height: 250px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

div {
    margin: 50px;
    text-align:center;
    background-color: cornsilk;
    border-radius: 90%;
}

ion-card {
    width: 100px; 
    height: 100px;
}