ion-card {
    padding: 5px;
    margin-top: 10px;
}

img {
    border-radius: 12%;
    width: 65px;
    height: 65px;
    align-content: center;
    padding: 1px;
}

ion-chip {
    text-align: center;
}
