<ion-header>
  <ion-toolbar>
    <ion-buttons>

      <ion-chip [routerLink]="['../tab3']">
        Actualizacion
      </ion-chip>

      <ion-chip [routerLink]="['../mensajes']">
        Mensaje
      </ion-chip>

      <ion-button (click)="presentAlert()">
        <ion-icon slot="end" name="options-sharp"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row *ngFor="let a of Mensaje">
      <ion-col size="9" *ngIf="currentUser !== a.user" class="message other-message">
        <b>{{a.user}}</b><br>
        <span>{{a.msg}}</span>
        <div class="time" text-right><br>
        {{ a.createdAt | date:'short'}}</div>
      </ion-col>
  
      <ion-col offset="3" size="9" *ngIf="currentUser === a.user" class="message my-message">
        <b>{{a.user}}</b><br>
        <span>{{a.msg}}</span>
        <div class="time" text-right><br>
        {{ a.createdAt | date:'short'}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar colors="light">
      <ion-row aling-items-center no-padding>
        <ion-col size="10">
          <textarea autosize maxRows="4" [(ngModel)]="newMsg" class="message-input"></textarea>
        </ion-col>
        <ion-col size="2">
          <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg ===''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send-sharp" ></ion-icon> 
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>